/* font family Raleway */
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font family Barlow */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Barlow", sans-serif;
}

.login {
  background-color: #150725;
  padding: 50px 0 50px 0;
}

.login .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logging_sect {
  max-width: 900px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}

.logging_sect .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.logging_sect #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}

.logging_sect #flip:checked ~ .forms .login-form {
  pointer-events: none;
}

.logging_sect .cover .front,
.logging_sect .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back {
  transform: rotateY(180deg);
}

.logging_sect .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.logging_sect .cover .text {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logging_sect .cover .text::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #34282c;
}

.cover .text .text-1,
.cover .text .text-2 {
  z-index: 20;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}

.logging_sect .forms {
  height: 100%;
  width: 100%;
  background: #fff;
}

.logging_sect .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: #333;
}

.forms .form-content .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #34282c;
}

.forms .signup-form .title:before {
  width: 20px;
}

.forms .form-content .input-boxes {
  margin-top: 30px;
}

.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #f57c48;
}

.form-content .input-box i {
  position: absolute;
  background: linear-gradient(66deg, #f54a48 0.87%, #fa982f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 17px;
}

.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .text a {
  text-decoration: none;
}

.forms .form-content .text a:hover {
  text-decoration: underline;
}

.forms .form-content button {
  padding-right: 170px;
  padding-left: 170px;
  margin-top: 40px;
}

.forms .form-content label {
  color: #5b13b9;
  cursor: pointer;
}

.forms .form-content label:hover {
  text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 25px;
}

.logging_sect #flip {
  display: none;
}

@media (max-width: 730px) {
  .logging_sect .cover {
    display: none;
  }

  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }

  .form-content .signup-form {
    display: none;
  }

  .logging_sect #flip:checked ~ .forms .signup-form {
    display: block;
  }

  .logging_sect #flip:checked ~ .forms .login-form {
    display: none;
  }
}
